body{
    background-color: #b7b3b3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#main-pic{
    display: block;
    height: 30em;
    /* width:100%; */
    background: url("../images/athletes.jpg") no-repeat;
    background-size: cover;
    /* object-fit: fill; */
    border: 3px solid firebrick;
    
}

.box1{
    display:inline-flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width:100px;
    height:100px;
    border-radius: 50px;
    padding: 70px;
    text-align: center;
    background-color: coral;
    position:relative;
    box-sizing: border-box;
    border: 20px solid blue;
}

.box2{
    display:inline-flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width:100px;
    height:100px;
    border-radius: 50px;
    padding: 70px;
    text-align: center;
    background-color: #faf200;
    position:relative;
    box-sizing: border-box;
    border: 20px solid blue;
}

.box3{
    display:inline-flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width:300px;
    height:100px;
    border-radius: 50px;
    padding: 10px 10px;
    text-align: center;
    background-color: hsl(331, 95%, 54%);
    position:relative;
    box-sizing: border-box;
    border: 20px solid blue;
}

p{
    visibility:hidden;
}

/* .box:hover{
    opacity: 10%;
    color: aqua;
    transition: opacity 5s ease-out;
} */
.box1:hover{
    color:red;
    position: relative;
    text-align:center; 
    rotate: 270deg;
    height: 100%;
    width:100%;
    flex-wrap: nowrap;
    /* border-radius:100%; */
    transform: rotate(90deg);
    transition: width 2s, transform 2s;
    text-transform: uppercase;
    opacity: 10%;
    transition: opacity 5s;
    z-index: 1;
}


li{
    width:100%;
    height:300px;
    background-color: rgb(89, 66, 215);
    text-decoration:blanchedalmond;
    display: inline-block;
    border: 0;
    margin:10px;
}

li:hover{
    width:20%;
}

#manpic{
    width:inherit;
    height:200px;
}